<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="joins.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="this">
      <form method="post" action="../main/main.html" id="login-form">
        <label for="ID"
          >ID&emsp;&emsp;&emsp;&emsp;&ensp;&emsp;&emsp;&emsp;</label
        >
        <input class="text" id="ID" type="text" /> <br /><br />
        <label for="PW">PW&emsp; &emsp; &emsp;&emsp;&emsp;&ensp;&emsp;</label>
        <input class="text" id="PW" type="password" /><br /><br />
        <label for="Check">Check PW&emsp;&emsp;&emsp;&ensp;&ensp;</label>
        <input class="text" id="Check" type="password" /><br /><br />
        <label for="E-mail"
          >E-mail&emsp;&emsp;&emsp;&ensp;&ensp;&ensp;&ensp;</label
        >
        <input class="text" id="E-mail" type="email" /><br /><br />
        <label for="num">전화번호&emsp;&emsp;&emsp;&ensp;&ensp;</label>
        <input id="num" class="text" type="text" /><br /><br />
        <label for="Name"
          >Name&emsp;&emsp;&emsp;&emsp;&ensp;&ensp; &ensp;</label
        >
        <input id="Name" class="text" type="text" /><br /><br />
        <label for="stu"
          >학생증
          인증&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</label
        >
        <input id="stu" type="file" /><br /><br />
        <input type="submit" class="sign_up" value="Sign Up" />
      </form>
    </div>
  </body>
</html>
