body {
  margin: 0;
  font-family: Arial, sans-serif; /* 기본 글꼴 설정 */
}

.navbar {
  background-color: #333; /* 어두운 배경색 */
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.navbar__logo a {
  color: white; /* 로고 텍스트 색상 */
  font-family: "Courier New", Courier, monospace; /* Courier New 글꼴 설정 */
  text-decoration: none;
  font-size: 1.5em; /* 로고 텍스트 크기 */
}

.navbar__menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
}

.navbar__menu li {
  margin-right: 20px; /* 각 항목 간격 조절 */
  float: right;
}

.navbar__menu a {
  text-decoration: none;
  color: white; /* 링크 텍스트 색상 */
  font-family: "Courier New", Courier, monospace; /* 글꼴 설정 */
}

/* 토글 버튼 스타일링 추가 */
.navbar__toogleBtn {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
}