/*nav*/
.navbar {
  width: 97%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}
.title {
  text-decoration: none;
  color: black;
  font-size: 35px;
  font-family: "Irish Grover";
}
ul {
  width: 15vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
li,
.login {
  text-decoration-line: none;
  color: black;
  font-size: 20px;
  font-family: "Source Serif 4";
}
.login {
  width: 15vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
/*본문*/
.container {
  width: 40%;
  margin-left: 30%;
  background-color: #ff53a5;
}
.tabG {
  position: absolute;
  top: 330px;
  left: 60px;
  width: 90px;
  height: 30px;
  background-color: aliceblue;
}
.tabT {
  position: absolute;
  font-size: 35px;
  top: 318px;
  left: 205px;
  font-family: "Irish Grover";
}
.contents {
  width: 95%;
  height: 500px;
  background-color: #ffedfa;
}
.top {
  display: flex;
  justify-content: flex-end;
}
