<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="../static/takePage.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Irish+Grover&family=Source+Serif+4:opsz@8..60&display=swap"
      rel="stylesheet"
    />
  </head>
  <body topmargin="0" leftmargin="0" marginwidth="0" marginheight="0">
    <nav class="navbar">
      <div style="display: flex; flex-direction: row; align-items: center">
        <a href="" class="title">Giboo & Take</a>
        <ul class="navbar_menu">
          <li>Giboo</li>
          <li>Take</li>
          <li>Charge</li>
        </ul>
      </div>
      <div class="login">
        <div>login</div>
        <div>|</div>
        <div>sign up</div>
        <img
          src="../static/icons/profile_img.png"
          alt="profile"
          style="width: 50px"
        />
      </div>
    </nav>
    <div class="container">
      <div style="position: relative">
        <img
          class="take_top"
          src="../static/icons/take_top.png"
          style="width: 100%"
        />
        <span class="tabG"></span>
        <span class="tabT">Take</span>
      </div>
      <div class="contents">
        <input class="keyword" placeholder="키워드를 입력하세요." />
        <span class="top">
          <span class="sort-due">마감일순</span>
          <span class="sort-hot">인기순</span>
          <img
            class="filter_btn"
            src="../static/icons/filter_btn.png"
            style="width: 30px"
          />
        </span>
      </div>
    </div>
    <!--푸터-->
    <div class="footer">
      <div>
        <div class="footer-content">
          Giboo&Take<br />Copyrightⓒ 2023 by 오소몰 all rights reserved
        </div>
        <!--인스타그램 깃허브 아이콘 연결-->
      </div>
    </div>
  </body>
</html>
